header{
    background-color:  black;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-top:10px;
}


.Contenedor-header{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin: 10px;
}


.desplegar {
    position: relative;
    display: inline-block;
}

.desplegar-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.desplegar-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.desplegar-content a:hover {
    background-color: #f1f1f1;
}

.desplegar-content .desplegar-content {
    display: block;
}
